
    
    {%  extends 'core/base.html' %}

    {% block  title %}  Contacto  {% endblock %}

    {% block background %}{% load static %}{% static 'core/img/email.jpg' %}{% endblock %}

    {% block headers %}
    <h1>Contacto</h1>
    {% comment %} <span class="subheading">Asesoría</span> {% endcomment %}
    {% endblock %}
 
    {% block content %} 
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


    <div class="col-lg-8  col-md-10 mx-auto">
         <p> <b> Email </b>   andrescamo02@gmail.com </p>
        <p><b>Phone</b> +506 64791084</p>
        
    </div>

    {% endblock %}